*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0a2540;
    color: white;
    padding:20px;
    text-align: center;
    margin-top: 10px;
}
.navbar a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(images/images.png);
    background-size:cover;
    background-position: center;
    color: green;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
}
section{
    padding: 40px;
}
section h2{
    text-align: center;
    margin-bottom: 25px;
}
.article{
    display: flex;
    gap: 20px;
}
.art{
    display: flex;
    gap: 20px;
}
article{
    flex: 1;
    background-color: #f4f6f8;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}
footer{
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
}
.navbar{
    padding-right:100%;
}